<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Suggest a Restaurant Name</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body> 
	<div class="container">
    	<div class="row">
        	<h3 class="text-center"> Suggest a Restaurant Name </h4>
    	</div>
	</div>
	<div th:if="${failure}">
		<div class="alert alert-danger"><a th:text="${errMsg}"></a></div>
	</div>
	<form method="post" role="form" th:action="@{/session/restaurantNameSuggestion/searchEmployee}" th:object="${restaurantNameSuggestion}">
	 <div class="form-group mb-3" >
		<input type = "hidden" th:field="*{sessionId}"/>
     	<label class="form-label">Enter Employee No. : </label>
        	<input type="number" id="empNo" name="empNo" th:field="*{empNo}" required
										class="form-control" />
     </div>
     <div class="form-group">
              <button class="btn btn-primary" type="submit">Submit</button>
     </div>
     </form>
</body>
</html>